@page "/canvas"
@using GameBoard.Data
@inject IJSRuntime JsRuntime;
@inject GameService Service;

<div id="canvas-wrapper">
    <canvas id="canvas"></canvas>
</div>

@code {
    private PlayerEventHandler playerEventHandler { get; set; }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            playerEventHandler = new PlayerEventHandler(JsRuntime, Service);
            await playerEventHandler.Initialize();
        }
    }
}