@using GameBoard.Data
@implements IDisposable

<div id="context-menu" style="top: @(_top)px; left:  @(_left)px;">
    @if (_show)
    {
        <ul>
            <li class="context-menu-header">
                @_title
            </li>
            @foreach (var option in _options.Keys)
            {
                <li>
                    <button @onclick="e => OnClick(option)">@option</button>
                </li>
            }
        </ul>
    }
</div>

@code {
    [Parameter] public PlayerEventHandler PlayerEventHandler { get; set; }

    private bool _show;
    private string _title;
    private int _top;
    private int _left;
    private Dictionary<string, Action> _options;
    
    protected override void OnInitialized()
    {
        PlayerEventHandler.OnContextMenuOpen += Open;
        PlayerEventHandler.OnContextMenuClose += Close;
    }

    public void Dispose()
    {
        PlayerEventHandler.OnContextMenuOpen -= Open;
        PlayerEventHandler.OnContextMenuClose -= Close;
    }

    private void Open(CanvasPosition position, CanvasElement element)
    {
        Open(position, element.DisplayName, element.GetContextMenuOptions());
    }
    
    private async void Open(CanvasPosition position, string title, Dictionary<string, Action> options)
    {
        _show = true;
        _title = title;
        _top = Convert.ToInt32(position.Top);
        _left = Convert.ToInt32(position.Left);
        _options = options;
        
        await InvokeAsync(StateHasChanged);
    }
    
    private async void Close()
    {
        if (!_show)
        {
            return;
        }
        
        _show = false;
        
        await InvokeAsync(StateHasChanged);
    }

    private void OnClick(string option)
    {
        _options[option]?.Invoke();
        Close();
    } 
}