@using GameBoard.Data
@inject IJSRuntime JsRuntime;
@inject GameService Service;
@implements IDisposable;

<div id="canvas-wrapper">
    <canvas id="canvas"></canvas>
    <PlayerList PlayerId="@playerId"/>
    <ContextMenu PlayerEventHandler="@playerEventHandler"/>
</div>

@code {
    private PlayerEventHandler playerEventHandler { get; set; }
    private Guid playerId { get; set; }

    protected override void OnInitialized()
    {
        playerEventHandler = new PlayerEventHandler(JsRuntime, Service);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) {
            playerId = await playerEventHandler.Initialize();
            StateHasChanged();
        }
    }

    public void Dispose()
    {
        playerEventHandler?.Dispose();
    }
}